
/*
* {
    border-style: solid;
    border-width: 1px;
    /* padding: 10px;*/


.header,
.footer,
.box1,
.box2,
.box3,
.box4 {
    padding-left: 30px;
    padding-right: 30px;
}

.contain {
    margin: 0 px;
    padding: 0 px;
}

.box4button button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

button {
    border-radius: 10px;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}


a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    flex: 10%;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 80%;
}

.footer {
    flex: 10%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------box1----------*/
img{
    flex: 1;
    max-height: 300px;
    max-width: 400px;
}

.box1 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #1f2937;
    padding-bottom: 30px;
}

.box1content,
.box1img {
    flex: 1;
}

.box1 img {
    max-height: 300px;
    max-width: 600px;
}

.box1content p {
    word-break: break-word;
    font-size: 18px;
    margin-bottom: 30px;
}

.box1content h2 {
    font-size: 48px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif
}


/*----------box2----------*/

.box2 {

    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.box2 h2 {
    text-align: center;
}

.box2boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box2box1,
.box2box2,
.box2box3,
.box2box4 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.box2 h2{
    font-size: 36px;
    font-weight: bolder;
}

.box2 p {
    word-break: break-word;
    text-align: center;
}

.box2 img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px; 
    flex: 1;
    border-style: solid;
    border-width: 4px;
    border-color: #3882f6;
}

.box2box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2box2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box2box3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box2box4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}




/*----------box3----------*/
.box3 {

    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.box3boxes {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex: 1;
    gap: 10px;
}

.box3quote {
    flex: 1;
    word-break: break-word;
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}

.box3credit {
    flex: 1;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}


/*----------box4----------*/

.box4 {
    
    display: flex;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.box4boxes {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 20px;
    margin: 80px;
    padding: 20px;

}

.box4ad {
    display: flex;
    flex-wrap: wrap;
}

.box4content {
    flex: 1;
}

.box4button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.box4button button {
    color: white;
}

.box4content,
.box4button {
    min-width: 200px;
}

/*---------------text coloring----------------------*/

.header,
.box1content,
.box4ad,
.footer {
    color: white;
}


